#view,
#area {
  height: 100px;
  width: 300px;
  font-family: arial;
  font-size: 14px;
}
#view {
  padding: 2px;
  border: 1px solid black;
}
#area {
  border: 1px solid red;
  padding: 0px;
  display: none;
}

#area:focus {
  outline: none;
}
